!/ProblemOne/source_code/PaxosProblemOne/build/*
!/ProblemOne/source_code/PaxosProblemOne/.classpath
!/ProblemOne/source_code/PaxosProblemOne/.settings/*
!/ProblemOne/source_code/PaxosProblemOne/.project
!/ProblemTwo/source_code/PaxosProblemTwo/.classpath
!/ProblemTwo/source_code/PaxosProblemTwo/.settings/*
!/ProblemTwo/source_code/PaxosProblemTwo/.project
!/ProblemTwo/source_code/PaxosProblemTwo/bin/*
!/ProblemThree/source_code/PaxosProblemThree/.classpath
!/ProblemThree/source_code/PaxosProblemThree/.settings/*
!/ProblemTwo/source_code/PaxosProblemTwo/.project
!/ProblemThree/source_code/PaxosProblemThree/bin/*
!/ProblemThree/source_code/PaxosProblemThree/.*
